<div class="wrapper">
  <app-stepper
    [steps]="steps"
    [currentStep]="currentStep"
    (stepChange)="onStepChange($event)"
  ></app-stepper>

  <div
    class="form"
    (keydown.enter)="currentStep === steps.length ? submit() : onNextStep()"
    [ngClass]="{ shake: shake$ | async }"
  >
    <router-outlet></router-outlet>
  </div>
  <div class="actions">
    <button
      mat-raised-button
      (click)="onNextStep()"
      *ngIf="currentStep !== steps.length; else submitButton"
    >
      Next
    </button>

    <ng-template #submitButton>
      <button mat-raised-button color="primary" (click)="submit()">
        Submit
      </button>
    </ng-template>
  </div>
</div>
