@use "breakpoints" as bp;
.wrapper {
  width: 60%;
  padding: 30px;
  margin: 0 auto;

  @media only screen and (max-width: bp.$tablet) {
    width: 80%;
  }

  @media only screen and (max-width: bp.$mobile-large) {
    width: 95%;
  }
  @media only screen and (max-width: bp.$mobile) {
    width: 99%;
    padding: 30px 10px;
  }

  app-stepper {
    display: block;
    margin-bottom: 30px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
  }

  .form.shake {
    animation: shake 150ms 2 linear;
    -moz-animation: shake 150ms 2 linear;
    -webkit-animation: shake 150ms 2 linear;
    -o-animation: shake 150ms 2 linear;
  }
}

@keyframes shake {
  0% {
    transform: translate(3px, 0);
  }
  50% {
    transform: translate(-3px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
