@use "mixins" as mixins;
.row {
  display: flex;

  @include mixins.flex(space-betwee, flex-start);
  gap: 20px;
  .col {
    width: 49%;
  }
  &.single {
    justify-content: flex-end;
    .col {
      display: flex;
      justify-content: flex-end;
    }
  }
}
