@use "mixins" as mixins;
@use "breakpoints" as bp;
.row {
  display: flex;

  @include mixins.flex(space-betwee, flex-start);
  gap: 20px;
  .col {
    width: 49%;
  }
  &.single {
    justify-content: flex-end;
    .col {
      display: flex;
      justify-content: flex-end;
    }
  }

  @media only screen and (max-width: bp.$mobile-large) {
    flex-direction: column;
    gap: 0px;
    .col {
      width: 100%;
    }
  }
}
