<form [formGroup]="form" [@enterLeaveAnimation]>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Document Type</mat-label>
        <mat-select formControlName="documentType">
          <mat-option
            *ngFor="let type of (documentTypes$ | async)!"
            [value]="type"
          >
            {{ type }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <app-validation-messages
        formControlName="documentType"
      ></app-validation-messages>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Series</mat-label>
        <input matInput placeholder="Series" formControlName="series" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Number</mat-label>
        <input matInput placeholder="Number" formControlName="number" />
      </mat-form-field>
      <app-validation-messages
        formControlName="number"
      ></app-validation-messages>
    </div>
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Issued By</mat-label>
        <input matInput placeholder="Issued by" formControlName="issuedBy" />
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <mat-form-field appearance="fill">
        <mat-label>Date of issue</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dateOfIssue"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <app-validation-messages
        formControlName="dateOfIssue"
      ></app-validation-messages>
    </div>
    <div class="col file-upload">
      <label class="custom-file-upload">
        <input type="file" (change)="onUpload($event)" />
        Upload Document
      </label>
      <img
        *ngIf="showUploadedImage$ | async as base64"
        [src]="base64"
        width="60"
        alt=""
      />
    </div>
  </div>
</form>
