@use "palette" as palette;
.custom-file-upload {
  border: 1px solid palette.$charcoal;
  background-color: palette.$blue-gray;
  color: white;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
input[type="file"] {
  display: none;
}

img {
  height: 50px;
}

.col.file-upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
