@use "styles/helpers/reset";
@use "fonts" as fonts;
@use "palette" as p;
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
  max-height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
* {
  font-family: sans-serif;
}
mat-form-field {
  width: 100%;
  font-size: fonts.$p !important;
}
mat-checkbox {
  font-size: fonts.$p !important;
}

body {
  background-color: rgba(236, 236, 236, 0.25);
}
